body {
    background-color: black;
}

button {
    font-size: 15px;
    height: 2em;
    border-radius: .1em;
    text-transform: uppercase;
    border: none;
    padding: .4em .6em;
    text-align: center;
    text-decoration: none;
    background-color: #3493C7;
    color: white;
    box-shadow: 0.2em 0.2em 0 rgba(0, 0, 0, 0.1), 0.2em 0.2em 0 rgba(0, 0, 0, 0.1);
    transition-duration: 0.4s;
    float: left;
    margin: 0.3em;
}

#barra_botons {
    align-content: left;
    float: left;
    list-style: none;
}

button:hover {
    background-color: #9DC9E0;
    color: white;
}

select {
    font-size: 15px;
    height: 2em;
    border-radius: .2em;
    text-transform: uppercase;
    border: none;
    padding: .4em .6em;
    text-align: left;
    text-decoration: none;
    background-color: white;
    color: black;
    width: 70%;
    box-shadow: 0.2em 0.2em 0 rgba(0, 0, 0, 0.1), 0.2em 0.2em 0 rgba(0, 0, 0, 0.1);
    transition-duration: 0.4s;
    font-family: Arial;
}

.principal {
    font-size: 15px;
    background: #3EA4ED;
    width: 50%;
    color: white;
    text-transform: uppercase;
    float: left;
    margin: .5em 0.3em;
    padding: 1em;
    border-radius: 0.1em;
   
}

.esquerra {
    padding: 1em;
    margin: .5em 0.3em;
    background-color: #348AC7;
    width: 20%;
    float: left;
    border-radius: 0.1em;
}

#desplegable {
    clear: both;
    padding-top: 1em;
}

#titol {
    text-align: center;
    font-family: arial;
}

#colors {
    padding: 1em;
    text-align: right;
    float:center;
}

.colors {
    float: left;
    margin-left: 1em;
}

input.colors {
    width: 10em;
    padding: 0;
    border: none;
    
}

label.colors {
    font-size: .8em;
    float:none
}