.principal {
    font-size: 15px;
    background: #348AC7;
    width:68%;
    color: white;
    text-transform: uppercase;
    float: left;
    margin: .1em 0.1em;
    padding: 1em;
    border-radius: 0.1em;
}

.esquerra {
    padding: 1em;
    margin: .1em 0.1em;
    background-color: #348AC7;
    width: 10%;
    float: left;
    border-radius: 0.1em;
    
}
.dreta {
    padding: 1em;
    margin: .1em 0.1em;
    background-color: #348AC7;
    width: 15%;
    float: left;
    border-radius: 0.1em;
}
.capsalera {
    color:white;
    text-align: center;
    text-transform: lowercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    padding: .3em;
    margin: .1em 0.1em 0.1em 0.1em;
    background-color: #348AC7;
    width: 98%;
    border-radius: 0.1em;
}

.colors {
    float: left;
    margin-left: 1em;
}

input.colors {
    width: 10em;
    padding: 0;
    border: none;
    
}

label.colors {
    font-size: .8em;
    float:none
}

body {
    background-color: whitesmoke;
}

button {
    font-size: 15px;
    height: 2em;
    border-radius: .1em;
    text-transform: uppercase;
    border: none;
    padding: .4em .6em;
    text-decoration: none;
    background-color: #3493C7;
    color: white;
    box-shadow: 0.2em 0.2em 0 rgba(0, 0, 0, 0.1), 0.2em 0.2em 0 rgba(0, 0, 0, 0.1);
    transition-duration: 0.4s;
    margin: 0.3em;
}

button:hover {
    background-color: #9DC9E0;
    color: white;
}

select {
    font-size: 15px;
    height: 2em;
    border-radius: .2em;
    text-transform: uppercase;
    border: none;
    padding: .4em .6em;
    text-align: left;
    text-decoration: none;
    background-color: white;
    color: black;
    width: 70%;
    box-shadow: 0.2em 0.2em 0 rgba(0, 0, 0, 0.1), 0.2em 0.2em 0 rgba(0, 0, 0, 0.1);
    transition-duration: 0.4s;
    font-family: Arial;
}

#id_desplegable {
    clear: both;
    padding-top: 1em;
}

#id_titol {
    text-align: center;
    font-family: arial;
}

#id_colors {
    padding: 1em;
    text-align: right;
    float:center;
}
#titol_capsalera{
    text-align: center;
    font-family: monospace;
}

